[submodule "Precompute/cnpy"]
	path = Precompute/cnpy-master
	url = https://github.com/rogersce/cnpy.git
[submodule "Precompute/fast_double_parser"]
	path = Precompute/fast_double_parser-master
	url = https://github.com/lemire/fast_double_parser.git
